.input-box {
    position: relative;
    width: 100%;
    
    &:not(:last-child) {
        margin-bottom: $size-13px;
    }

    &_w48 {
        width: 48%;
    }

    &__input {
        position: relative;
        padding: $size-13px min(10vw, 77px) $size-14px $size-16and25;
        width: 100%;
        border-radius: $size-19-point-5-px;
        border: 1px solid $beige-color;
        background-color: $white-bg-color;
        @include gilroy-semibold;
        font-size: $size-19-point-5-px;
        color: $black-color;
    
        &::placeholder {
            color: $brown-color;
        }
    
        &#user-phone, &#user-email {
            background: none;
        }
    
    
    
      
    }
    
    &__cross {
        position: absolute;
        top: 50%;
        right: $size-19-point-5-px;
        transform: translateY(-50%);
        width: $size-16and25;
        height: $size-16and25;
        transition: all .3s ease-in-out;
    
        &.__js-active {
            transform: translateY(-50%) rotate3d(0, 0, 2, 45deg);
        }
    }
}
