.search-result {
    padding-top: $size-8px;


    .like {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        padding: $gap-10;
        width: $s36px;
        height: $s36px;
        z-index: 1;

        &__yes {
            display: none;
        }
    }

    .like.liked {
        .like__no {
            display: none;
        
        }

        .like__yes {
            display: block;
        }
    }

    &__wrapper {
        padding-left: $size-12px;
        padding-right: $size-12px;
        background-color: #FFFAF5;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        display: flex;   
        border: 1px solid $beige-color;
        overflow: hidden;
    }


     &__snegiri {
        display: flex;
        flex-direction: column;
        border-radius: $size-6and5;
        border: 1px solid $pink-border;
        overflow: hidden;
    }

    &__snegiri-upper {
        position: relative;
        display: flex;
        justify-content: space-between;
        @include gilroy-bold;
        font-size: $size-5px;
        color: $pink-color;
        text-transform: uppercase;
        gap: 0.6vw;
        line-height: 1.2;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $pink-border;
        padding-top: 1.5px;
        padding-bottom: 1.5px;
        background-color: #FFF5F4;
      

        svg {
            width: min(1.3vw, 10px);
            height: $size-8px;
        }
        
    }

    &__expire-date {
        @include gilroy-bold;
        font-size: $size-6and5;
        color: $pink-color;
        padding:  min(1vw, 8px);

    }

    &__schema {
        display: flex;
        gap: $size-6and5;
        align-items: flex-start;
    }

    &__price-box {
        display: flex;
        flex-direction: column;
    }

    &__price {
        // margin-bottom: min(1vw, 8px);
        @include gilroy-bold;
        // font-size: $size-16and25;
        line-height: 1.2;

    }

    &__old-price {
        @include gilroy-semibold;
        font-size: $size-8px;
        line-height: 1.1;
        color: $brown-color;
    }

    &__benefit {
        // padding: 0.7vw 1.6vw;
        display: none;
        width: 100%;
        justify-content: center;
        align-items: center;
        // height: $size-20px;
        border-radius: $gap-10;
        background-color: $head-bg-color;
        color: $black-color;
        font-size: $gap-10;
        text-align: center;
        line-height: 1.1;
        border: 1px solid #FFE684;
        border-radius: $gap-10;
        background-color: #FFF6D4;

        &.__js-active {
            display: flex;
        }
    }

    &__btn {
        
        border-radius: $size-8px;
        font-size: $size-12px;
        background-color: #FFF0B6;
        color: $brown-color;

    }

    &__cover {
        position: relative;
        flex-shrink: 0;
        overflow: hidden;
        z-index: 0;                
    }

    &__exist {
        padding: 0 $size-5px;
        display: none;
        justify-content: center;
        flex-wrap: wrap;
        // gap: min(1vw, 8px);
        border-radius: $gap-10;
        border: 1px solid $beige-color;
        color: $green-color;
        svg {
            path {
                fill:  $green-color;
            }
            
            
        }

        &.__js-active {
            display: flex;
        }
    }

    &__missed {
        // padding: 0 (1.3vw, 8px);
        width: 100%;
        height: $size-30px;
        display: none;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        @include gilroy-bold;
        
        // gap: 1%;
        border-radius: $gap-10;
        border: 1px solid $pink-border;
        color: $pink-color;

        svg {
            path {
                fill:  $red-color;
            }
        }

        &.__js-active {
            display: flex;
        }
     
    }

    &__note-sign {
        display: none;
        color: $white-bg-color;
        width: $size-11px;
        height: $size-11px;
        // display: flex;
        justify-content: center;
        align-items: center;
        background-color: $red-color;
        border-radius: 100%;
    }

    &__note {
        color: $white-bg-color;
        // width: $size-11px;
        height: $size-11px;
        padding: 0 $size-8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $red-color;
        border-radius: $gap-10;
    }

    &__stock-block {
        @include gilroy-bold;
        // font-size: $size-8px;
        display: flex;
        gap: min(0.6vw, 8px);
        justify-content: center;
        align-items: center;

        svg {
            width: $size-8px;
            height: $size-8px;
        }
    }

   




    &__wrapper[data-temp="list"] {
        gap: $gap-10;

        .like {
            display: none;
        }

        .search-result {


            &__item {
                width: 100%;
            }
            &__options {
                position: relative;
                padding-right: min(1.7vw, 13px);
                padding-top: min(1.8vw, 14.2px);
                padding-bottom: min(1.8vw, 14.2px);
                width: 25.4%;
                z-index: 3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include gilroy-bold;  
            }

            &__counter-block {
                display: flex;
                flex-direction: column;
                gap: $size-6and5;
                width: 100%;   
            }

            &__counter {
                // display: flex;
                padding: min(0.8vw, 6px);
                background-color: #FAC71D;
                justify-content: space-between;
                align-items: center;
                border-radius: $gap-10;
                color: $black-color;
                font-size: $size-12px;
                width: 100%; 
            }

            &__btn {
                width: min(6vw, 51.2px);
                height: min(6vw, 51.2px);        
            }

            &__benefit {
                height: $size-30px;
            }

            &__item {
                border-radius: $size-16and25;
                height: $s80px;
            }

            &__cover {
                width: $s80px;
                height: $s80px;
                border-right: 1px solid $beige-color;
            }

            &__info {
                position: relative;
                max-width: $s193;
                // margin-right: 2%;
                // width: 57%;
                padding: $size-8px $size-5px min(1.8vw, 14px) $gap-10;
                display: flex;
                flex-direction: column;
                gap: 2%;
                justify-content: space-between;
                align-items: start;
            }
                
            &__own-production {
                display: block;
                position: absolute;
                right: 25%;
                bottom: -13%;
                width: $size-62px;
                height: $size-62px;
                
                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    object-position: bottom;
                }
            }

            &__price {
                margin-bottom: min(1vw, 8px);
                // @include gilroy-bold;
                font-size: $size-16and25;
                // line-height: 1.2;

            }

            &__stock-block {
                font-size: $size-8px;
            }

            &__note {
                display: none;
            }

            &__note-sign {
                display: flex;
            }

            &__exist {
                height: $size-30px;
                padding: $size-5px $size-5px;

               
            }



         

            

           
        }

        .good__name {
            margin-bottom: min(1vw, 8px);
            line-height: 1.1;
        }
       
    }

    &__wrapper[data-temp="grid"] {
        gap: 2%;


        .cashback-label {
            left: $size-12px;
            bottom: calc(100% - $size-20px);
            transform: translateX(0);
        }

        .search-result {
            &__item {
                margin-bottom: 2%;
                width: 48%;
                border-radius: $size-16and25;
                gap: 1vw;
                flex-wrap: wrap; 
                 
            }

            

            &__options {
                position: relative;
                padding: 0 $gap-10 $size-8px $gap-10;
               
                width: 100%;
                z-index: 3;
                display: flex;
                flex-direction: column;
                gap: min(1vw, 8px);
                justify-content: space-between;
                align-items: center;
                @include gilroy-bold;  
            }

           

            &__counter {
                padding: min(0.8vw, 6px);
                background-color: #FAC71D;
                justify-content: space-between;
                align-items: center;
                border-radius: $gap-10;
                color: $black-color;
                font-size: $size-12px;
                width: 100%; 
                height: $size-32px;
            }

            &__add-btn {
                width: 100%;
            }

            &__btn {
                width: min(6.66vw, 51.2px);
                height: min(6.66vw, 51.2px);        
            }

            &__benefit {
                height: $size-20px;
            }


            &__cover {
                width: 100%;
                height: min(33.33vw, 256px);
            }

            &__info {
                padding: 0 $gap-10;
                display: flex;
                flex-direction: column;
                gap: $size-5px;
                justify-content: space-between;
                align-items: start;
            }
        
            // // &__options {
            // //     position: relative;
            // //     width: 22%;
            // // }
        
            &__own-production {
                display: block;
                position: absolute;
                right: 4%;
                bottom: 45%;
                width: $size-62px;
                height: $size-62px;
                z-index: 1;
                
                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    object-position: bottom;
                }
            }

            &__price {
                // margin-bottom: min(1vw, 8px);
                // @include gilroy-bold;
                font-size: $size-20px;
                line-height: 1;
                // line-height: 1.2;

            }


          
            

            &__discount {
                width: min(5.6vw, 43px);
                font-size: min(1.8vw, 14px);
                padding-left: 4px 0;
            }

            &__stock-block {
                font-size: $gap-10;
                gap: min(1vw, 8px);
            }
            
            &__note {
                height: $size-14px;

            }

            &__missed {
                padding: 0 1vw 0 $size-8px;
                height: $size-20px;
                justify-content: space-between;
                align-items: center;
                gap: min(1vw, 8px);

                .red-circle {
                    margin-right: 1vw;
                }
            }

           

            &__note {
                display: flex;
            }

            &__note-sign {
                display: none;
            }

            &__exist {
                width: 100%;
                gap: min(1vw, 8px);
                height: $size-20px;
                padding: $size-5px $size-5px;

                .green-circle {
                    margin-right: 1vw;
                }
            }
        }
    }

    &__counter {
        display: none;

        &.__js-active {
            display: flex;
        }
    }   

   

   

    &__price {
        margin-right: min(1vw, 8px);
        @include gilroy-semibold;
        color: $black-color;

        &_list {
            font-size: $size-12px;
        }

    

    }

    // &__discount {
    //     margin-right: min(1vw, 8px);
    // }

    // &__snegiri {
    //     display: block;
    //     width: $s40px;
    //     height: $size-16and25;

    // }

   

   

    

  

    &__add-btn {
        height: $size-30px;
        border-radius: $gap-10;
        @include gilroy-bold;
        font-size: $size-12px;
        color: $black-color;
        background-color: #FAC71D;

    }

    &__stock {
        
        border-radius: $gap-10;
        text-align: center;
        padding: 0.8vw 1.4vw;
       
        @include gilroy-bold;
        font-size: $gap-10;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;
        // border-radius: min(2.5vw, 19px);
        // padding: 1vw 0;
        // font-family: "Gilroy", Arial, Helvetica, sans-serif;
        // font-weight: bold;
        // line-height: normal;
        // font-size: min(2.5vw, 19px);

        &_green {
            color: #5EA636;
        }
        &_beige {
            color: $brown-color;
        }

        &_list {
            display: block;
            height: $size-30px;
        }

    }

    &__label {
        padding: 1px 5px;
        border-radius: $gap-10;
        @include gilroy-bold;

    }
    

    &_list-view {
        .search-result__item {
            margin-bottom: $gap-10;
            padding: min(1.7vw, 14px);
            border: 1px solid $beige-color;
            border-radius: $size-16and25;
        }
    }

    &__good-info {
        position: relative;
    }

    &__good-own-production {
        display: block;
        position: absolute;
        right: 2%;
        top: -10%;
        width: min(15.9vw, 122px);
        height: min(15.9vw, 122px);

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            object-position: center;
        }
    }

    .good__name {
        position: relative;
        z-index: 1;
    }


}

.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: $size-11px $size-12px;

   
}

// .view-selector {
//     display: inline-block;
//     margin-right: $gap-10;
//     padding: $size-8px;
//     width: $size-30px;
//     height: $size-30px;
//     border-radius: $gap-10;
   
//     &__input {
//         display: none;
//     }

//     &__schema  {
//         display: block;
//         width: 100%;
//         height: 100%;
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: contain; 
//         background-image: url('../img/icons/to-list.svg');
//     }
//     &__input:checked + &__schema {
//         background-image: url('../img/icons/to-grid.svg');
//     }

// }

.view-selector {
    margin-right: $gap-10;
    // padding: $size-8px;
    width: $size-30px;
    height: $size-30px;
    border-radius: $gap-10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%; 
}

.view-selector[data-view="list"] {
    background-image: url('../img/icons/to-list.svg');
}
.view-selector[data-view="grid"] {
    background-image: url('../img/icons/to-grid.svg');
}


.filter {
  
    display: inline-block;
  

    &__text {
        display: flex;
        gap: $size-8px;
        @include gilroy-bold;
        font-size: $size-13px;
        &::before {
            content: '';
            display: block;
            width: $size-16and25;
            height: $size-16and25;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../img/icons/filter-before-element.svg');
        }
    }

    &__options {
        padding: 0 $size-8px 0 $size-8px;
        display: inline-block;
        width: 88%; 
        background-color: $beige-color;
        border-radius: $gap-10;
    }

    &__options-header {
        height: $size-30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.filter {
    margin-bottom: $gap-10;
    &__inputs {
        padding-bottom: $size-8px;
        display: grid;
        gap: $size-12px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    &__inputs._js-hidden {
        padding: 0;
    }

    &__input {
        display: none;
    }

    &__block {
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
        height: $size-30px;
        padding: $size-6and5 2% $size-6and5 $size-30px;
        background-color: $white-bg-color;
        @include gilroy-bold;
        font-size: $size-12px; 
        border-radius: 6px;

       
        transition: all .3s ease-in-out;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: $size-8px;
            transform: translateY(-50%);
            display: block;
            width: $size-19-point-5-px;
            height: $size-19-point-5-px;
            transition: all .3s ease-in-out;
            background-image: url('../img/radio/beige-radio.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &::after { 
            content: '';
            position: absolute;
            top: 50%;
            left: $size-8px;
            transform: translateY(-50%);
            display: none;
            width: $size-19-point-5-px;
            height: $size-19-point-5-px;
            background-image: url('../img/radio/black-radio.svg');
            background-repeat: no-repeat;
            background-size: contain;
            transition: all .3s ease-in-out;
        }
        
    }

    // &__input:checked + &__block {
    //     color: $red-color;
    // }

    &__input:checked + &__block::before {
        display: none; 
    }

   
  

    &__input:checked + &__block::after {
        opacity: 1; 
        display: block; 
    } 

}



