@import '../delivery-vars/delivery-vars';


.menu {

   
    &__profile {
        
        margin-right: $gap-10;
        padding: 0 $size-13px;
        height: min(8.33vw, 64px);
        background-color: $red-color;
        border-radius: $gap-10;
        @include gilroy-bold;
        color: $white-bg-color;
        font-size: min(4vw, 31px);

        &::before {
            content: '';
            margin-right: $size-13px;
            display: block;
            width: $fz-13px;
            height: $fz-13px;
            background-image: url('../img/menu/profile-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &::after {
            content: '';
            margin-left: min(5.8vw, 45px);
            display: block;
            width: $fz-13px;
            height: $fz-13px;
            background-image: url('../img/menu/white-arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    &__list {
        margin-bottom: $size-13px;
    }

    &__massage {
        position: relative;
        
    }
  
    &__message.__js-active {
        h5 {
            &::after {
                content: '';
                margin-left: min(1.67vw, 13px);
                width: min(1.67vw, 13px);
                height: min(1.67vw, 13px);
                background-color: #5EA636;
                border-radius: 100%;
            }
        }
    }

    &__help-info {
        display: block;
        padding: min(1.25vw, 10px) 0;
        width: 100%;
        @include gilroy-bold;
        color: $brown-color;
        font-size: $size-13px;
        text-align: center;
        border-radius: $gap-10;
        border: 1px solid $beige-color;
        background-color: $head-bg-color;
    }

    &__content {
        
        background-color: $head-bg-color;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }

    &__messages {
        padding: $gap-10 $gap-10 0 $gap-10;
        border-bottom: 1px solid $beige-color;
    }

    &__container {
        padding: $size-13px;
    }
}

@import '../../components/menu-link';
@import '../../components/message';