
.head-inner {
    width: 100%;
    background-color: $head-bg-color;
    border-bottom: 1px solid $beige-color;
    
    &__items {
        padding: min(2vw, 16px) 0 min(2.6vw, 20px);
    }

    &__good-choice {
        width: min(8.2vw, 62px);
        height: min(8.2vw, 62px);
    }

    &__logo {
        width: min(19.5vw, 150px);
        height: min(8.2vw, 62px);
    }

    &__horses {
        width: min(62vw, 476px);
        height: min(6.7vw, 52px);
    }
}