.address {
    &.popup {
        background-color: $head-bg-color;;

    }
    &__variants {
        min-height: 100%;
        padding: $size-13px;
     

    
    }
    &__option:not(:last-child) {
        padding-bottom: $size-13px;
    }
    &__choosed {
        @include gilroy-bold;
        font-size: $size-13px;
        color: $black-color;
    }

    &__note {
        padding-top: $size-6and5;
        @include gilroy-semibold;
        font-size: $size-13px;
        color: $red-color;
    }

    &__for-choosing {
        @include gilroy-bold;
        font-size: $size-13px;
        color: $beige-color;
    }

    &__add-btn {
        position: relative;
        padding-left: min(13.3vw, 102px);
        display: block;
        width: 100%;
        padding: $size-13px  min(13.3vw, 102px);
        @include gilroy-semibold;
        color: $brown-color;
        font-size: $size-16and25;
        text-align: left;
        border-radius: $size-19-point-5-px;
        border: 1px solid $beige-color;
        background: transparent;

        &::before {
            content: '';
            position: absolute;
            top: min(3.3vw, 25px);
            left: min(4.2vw, 32px);
            display: block;
            width: $size-19-point-5-px;
            height: $size-19-point-5-px;
            transition: all .3s ease-in-out;
            background-image: url('../img/profile/cross.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}