@import './style';
@import 'blocks/head-inner/head-inner';
@import 'blocks/menu-panel/menu-panel';
@import 'blocks/header/header';
@import 'blocks/info/info';
@import 'blocks/actual/actual';
@import 'blocks/footer/footer';
@import 'blocks/categories/categories';
@import 'components/category';
@import 'blocks/chance/chance';
@import 'blocks/banner/banner';
@import 'blocks/menu/menu';
@import 'blocks/profile-data/profile-data';
@import 'blocks/card/card';
@import 'blocks/address/address';
@import 'blocks/main-card/main-card';
@import 'blocks/storefront-link/storefront-link';
@import 'blocks/delivery-links/delivery-links';
@import 'blocks/web-site/web-site';
@import 'blocks/login/login';
@import 'blocks/notification-box/notification-box';
@import 'blocks/good-card/good-card';
@import 'blocks/good/good';
@import 'blocks/profile-data/profile-data';
@import 'blocks/card/card';
@import 'blocks/map/map-container';
@import 'blocks/dnd/dnd';
@import 'blocks/white-box/white-box';
@import 'blocks/shops/shops';
@import 'blocks/order-details/order-details';
@import 'blocks/schema/schema';
@import 'blocks/two-btns/two-btns';
@import 'blocks/order-list/order-list';
@import 'blocks/big-card/big-card';
@import 'blocks/tabs/tabs';
@import 'blocks/orders-additional/order-additional';
@import 'blocks/cart/cart';
@import 'blocks/pay-method/pay-method';
@import 'blocks/scanner/scanner';
@import 'blocks/favorites/favorites';
@import 'blocks/good-list/good-list';
@import 'blocks/instruction-popup/instruction-popup';
@import 'blocks/promotions-story/promotions-story';

.w100 {
    width: 100% !important;
}

.sand-bg {
    background-color: #F5E6D6;
}

.white-bg {
    background-color: $white-bg-color;
}

.green-bg {
    background-color: #5EA636;
    color: $white-bg-color;
}

.black-color {
    color: $black-color;
}

.brown-color {
    color: $brown-color;
}

.sand-border {
    border: 1px solid #F6D6B4;
}

.w48 {
    width: 48%;
}

