@import './style';
@import 'blocks/head-inner/head-inner';
@import 'blocks/menu-panel/menu-panel';
@import 'blocks/header/header';
@import 'blocks/info/info';
@import 'blocks/actual/actual';
@import 'blocks/footer/footer';
@import 'blocks/categories/categories';
@import 'components/category';
@import 'blocks/chance/chance';
@import 'blocks/banner/banner';
@import 'blocks/menu/menu';
@import 'blocks/profile-data/profile-data';
@import 'blocks/card/card';
@import 'blocks/address/address';
@import 'blocks/main-card/main-card';
@import 'blocks/storefront-link/storefront-link';
@import 'blocks/delivery-links/delivery-links';
@import 'blocks/web-site/web-site';
@import 'blocks/login/login';
@import 'blocks/notification-box/notification-box';
@import 'blocks/good-card/good-card';
@import 'blocks/good/good';
@import 'blocks/profile-data/profile-data';
@import 'blocks/card/card';
@import 'blocks/map/map-container';
@import 'blocks/dnd/dnd';
@import 'blocks/white-box/white-box';
@import 'blocks/shops/shops';
@import 'blocks/order-details/order-details';
@import 'blocks/schema/schema';
@import 'blocks/two-btns/two-btns';
@import 'blocks/order-list/order-list';
@import 'blocks/big-card/big-card';
@import 'blocks/tabs/tabs';
@import 'blocks/orders-additional/order-additional';
@import 'blocks/cart/cart';
@import 'blocks/pay-method/pay-method';
@import 'blocks/scanner/scanner';
@import 'blocks/favorites/favorites';
@import 'blocks/good-list/good-list';
@import 'blocks/instruction-popup/instruction-popup';
@import 'blocks/promotions-story/promotions-story';

.w100 {
    width: 100% !important;
}

.sand-bg {
    background-color: #F5E6D6;
}

.white-bg {
    background-color: $white-bg-color;
}

.green-bg {
    background-color: #5EA636;
    color: $white-bg-color;
}

.black-color {
    color: $black-color;
}

.brown-color {
    color: $brown-color;
}

.sand-border {
    border: 1px solid #F6D6B4;
}

.w48 {
    width: 48%;
}


.buy-history-subtitle {
    padding: $s16px $s28px;
}

.buy-history-header {
    @include gilroy-bold;
    font-size: $s16px;
    color: $black-color;
}

.buy-history-brown-subtitle {
    margin-bottom: $size-11px;
    @include gilroy-semibold;
    font-size: $size-12px;
    color: $brown-color;
}

.buy-history-hidden-block {
    padding-top: $size-19-point-5-px;
}

.buy-history-btn {
    width: 100%;
    border-radius: $gap-10;
    padding: $gap-10 0;
    @include gilroy-bold;
    font-size: $size-14px;
}

.history-item {
    border: 1px solid $beige-color;
    border-radius: $size-19-point-5-px;
    background-color: $head-bg-color;
    overflow: hidden;

    .white-box {
        border-radius: $size-19-point-5-px;
    }
    &__front {
        // padding: $gap-10;
        display: flex;
        align-items: center;
    
    }

    &__info-box {
        padding: 0 $gap-10;
        max-width: min(50vw, 384px);
    }

    &__cover {
        width: $s60px;
        height: $s46px;
        border: 1px solid $beige-color;
        border-radius: $size-12px;
    }

    &__address, &__sum {
        @include gilroy-bold;
        font-size: $size-14px;
        color: $black-color;
        line-height: 100%;
    }
    &__date {
        @include gilroy-bold;
        font-size: $size-14px;
        color: $brown-color;
        line-height: 100%;
    }

    &__sum {
        margin-left: auto;
    }

    &__additional-info {
        padding-bottom: $size-8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $gap-10;
    }

    &__text-additional {
        @include gilroy-bold;
        font-size: $size-12px;
        color: $brown-color;
    }

    &__table {
        width: 100%;
        border-spacing: 0px;
        border-collapse: collapse;
        @include gilroy-bold;
        font-size: $size-12px;
        color: $black-color;

        &_footer {
            @include gilroy-semibold;
            color: $brown-color;
        }

        td {
            padding: $size-8px $size-12px;
            border: 1px solid $beige-color;
        }
    }

    &__table-column-1 {
        width: 50%;
    }
    &__table-column-2 {
        width: 21%;
    }
    &__table-column-3 {
        width: 12%;
    }
    &__table-column-4 {
        width: 17%;
    }

    &__receipe {
        padding: $size-8px 0;
        text-align: center;
        display: inline-block;
        width: 100%;
        @include gilroy-semibold;
        font-size: $size-12px;
        color: #3CA1FF;
        text-decoration: underline;
    }
}

.history-address-list {

    &__text {
        max-height: $size-18px;
        overflow: hidden;
        @include gilroy-semibold;
        font-size: $size-14px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        width: min(3.3vw, 25px);
        height: min(3.3vw, 25px);
        transform: rotate(90deg);
        transition: all .3s ease-in-out;

        &.__js-opened {
            transform: rotate(-90deg);
        }
    }

    &__content {
        max-height: 0;
        opacity: 0;
        transition: all .3s ease-in-out;

        &.__js-opened {
           opacity: 1;
        }


    }

    &__inner-box {
        padding-top: $size-8px;
    }
}

