@import './style';

@import 'blocks/menu-panel/menu-panel';
@import 'blocks/header/header';
@import 'blocks/info/info';


@import 'blocks/address/address';
@import 'blocks/menu/menu';
@import 'blocks/profile-data/profile-data';
@import 'blocks/card/card';

@import 'blocks/dnd/dnd';
@import 'blocks/white-box/white-box';
@import 'blocks/notification-box/notification-box';
@import 'blocks/good/good';  
@import 'blocks/order-details/order-details';
@import 'blocks/schema/schema';
@import 'blocks/two-btns/two-btns';
@import 'blocks/order-list/order-list';

.path {
    background-color: $head-bg-color;
    padding: $size-16and25 0;
    border: none;

    &__item {
        position: relative;
        display: inline-block;
        padding: 0.6vw $size-20px 0.6vw 1vw;
        border-radius: $size-6and5;
        border: 1px solid $beige-color;
        background-color: $head-bg-color;

        a {
            @include gilroy-bold;
            font-size: $size-13px;
            color: $brown-color;
        }

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            width: $size-6and5;
            height: $gap-10;
            top: 50%;
            right: $size-8px;
            transform: translateY(-50%);
            background-image: url('../img/menu/arrow.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__icon {
        margin-left: $size-8px;
        display: inline-block;
        height: $gap-10;
    }
}

