@import 'libs/mixins';
@import 'libs/variables';
@import 'libs/fonts';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

li {
    list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



.mobile-wrapper {
    position: relative;
    margin: auto;
    max-width: 768px; 
    width: 100%;
}

.main {
    height: 1500px;
}

.container-header {
    position: relative;
    margin: auto;
    padding: 0  min(2.6vw, 20px);
}

.container {
    position: relative;
    margin: auto;
    padding: 0  min(3.33vw, 26px);
}

.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.object-fit-contain {
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-position: center;
    vertical-align: middle;
}

.object-fit-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    vertical-align: middle;
}

.input {
    border: none;

    
}

.button {
    border: none;
    background: none;
}

.hr {
    margin: auto;
    width: 96%;
    height: 2px;
    border: none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23F5E6D6FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.title {
    padding: min(3.8vw, 30px) $size-19-point-5-px;
    font-family: 'Gilroy';
    font-weight: bold;
    font-style: normal;
    font-size: min(7.5vw, 58px);
    color: $black-color;
}

//стили для popup
.overlay {
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    left: -300px;
    z-index: -100;
    // display: none;
/* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}



/* стили модального окна */
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 11;
    margin: 0;
   
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    height: 100vh;
    width: 100vw;
/* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    border: 1px solid #383838;
    background: #fefefe;
    transition: transform .4s ease-out;
    overflow-x: hidden;
    overflow-y: auto;

}

.overlay.__js-active {
    // display: block;
    z-index: 10;
    inset: 0;

    .popup {
        position: relative;
        transform: translate(-50%, 0);
        top: min(13vw, 102px);
        padding-bottom: min(50vw, 384px);
        height: calc(100vh - 13vw - 13vw);
    }
}

#search-popup {
    background-color: $head-bg-color;

    .search-img {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: min(41vw, 317px);
        height: min(41vw, 317px);
        
    }
}

.return-btn {
    margin-right: $gap-10;
    padding: min(1.25vw, 10px) $size-13px;
    @include gilroy-bold;
    color: $brown-color;
    font-size: min(4vw, 31px);
    text-align: center;
    border-radius: $gap-10;
    border: 1px solid $beige-color;
    background-color: $head-bg-color;

    &::after {
        content: '';
        margin-left: $gap-10;
        display: block;
        width: $fz-13px;
        height: $fz-13px;
        background-image: url('../img/menu/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: rotate(180deg);
    }
}











    