@import 'libs/mixins';
@import 'libs/variables';
@import 'libs/fonts';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

li {
    list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



.mobile-wrapper {
    position: relative;
    margin: auto;
    max-width: 768px; 
    width: 100%;
}

.main {
    margin-bottom: $s70px;

    &_beige-bg {
        background-color: $head-bg-color;
    }
}

.container-header {

    position: relative;
    margin: auto;
    padding: 0  min(2.6vw, 20px);
}

.container {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0  min(3.33vw, 26px);
}

.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.object-fit-contain {
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-position: center;

}

.object-fit-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;

}

.input {
    border: none;

    
}


.button {
    border: none;
    background: none;
}

.hr {
    margin: auto;
    width: 96%;
    height: 2px;
    border: none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23F5E6D6FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.title {
    padding: min(3.8vw, 30px) $size-19-point-5-px;
    font-family: 'Gilroy';
    font-weight: bold;
    font-style: normal;
    font-size: $s24px;
    color: $black-color;
}

//стили для popup
.overlay {
    left: -500px;
    z-index: -100;
/* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}



/* стили модального окна */
.popup {
    display: flex;
    flex-direction: column;
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 11;
    margin: 0;
   
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    height: calc(100vh - 30vw);
    width: 100vw;
/* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    border: 1px solid #383838;
    background: #fefefe;
    transition: transform .4s ease-out;
    overflow-x: hidden;
    overflow-y: auto;

    &__total-header {
        background-color: $white-bg-color;
        border-bottom: 1px solid $beige-color;
    }

    &__title {
        margin-bottom: $size-12px;
        @include gilroy-bold;
        font-size: $size-20px;
        color: $black-color;
        padding: 1vw $size-19-point-5-px;
    }

}

.overlay.__js-active {
    // display: block;
    z-index: 10;
    inset: 0;

    .popup {
        position: relative;
        transform: translate(-50%, 0);
        top: min(13vw, 102px);
        padding-bottom: min(6vw, 154px);
        // height: calc(100vh - 13vw - 13vw);
    }
}

#search-popup {
    background-color: $head-bg-color;

    .search-img {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: min(41vw, 317px);
        height: min(41vw, 317px);
        
    }
}

.return-btn {
    margin-right: $gap-10;
    padding: min(1.25vw, 10px) $size-13px;
    @include gilroy-bold;
    color: $brown-color;
    font-size: min(4vw, 31px);
    text-align: center;
    border-radius: $gap-10;
    border: 1px solid $beige-color;
    background-color: $head-bg-color;

    &::after {
        content: '';
        margin-left: $gap-10;
        display: block;
        width: $fz-13px;
        height: $fz-13px;
        background-image: url('../img/menu/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: rotate(180deg);
    }
}

//стилизация инпутов

.radio {

    &__input {
        display: none;
    }

    &__delete-address {
        display: none;   
        position: absolute;
        right: $size-19-point-5-px;
        top: $size-13px;
        transform: rotateZ(45deg);
        width: $size-19-point-5-px;
        height: $size-19-point-5-px;
        border: none;
        background: transparent;
    }

    &__block {
        position: relative;
        min-height: min(12vw, 90px);
        width: 100%;
        display: inline-block;
        @include white-blocks;
        padding-left: min(13.3vw, 102px);
        padding-top: min(2.92vw, 22px);
        transition: all .3s ease-in-out;

        &::before {
            content: '';
            position: absolute;
            top: min(3.3vw, 25px);
            left: min(4.2vw, 32px);
            display: block;
            width: $size-19-point-5-px;
            height: $size-19-point-5-px;
            transition: all .3s ease-in-out;
            background-image: url('../img/radio/beige-radio.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &::after { 
            content: '';
            position: absolute;
            top: min(3.3vw, 25px);
            left: min(4.2vw, 32px);
            display: none;
            width: $size-19-point-5-px;
            height: $size-19-point-5-px;
            background-image: url('../img/radio/red-radio.svg');
            background-repeat: no-repeat;
            background-size: contain;
            transition: all .3s ease-in-out;
        }
    }

    &__input:checked + &__block::before {
        display: none; 
    }

    &__input:checked + &__block {
        
        .radio__delete-address {
            display: block;
        }

        .address__city {
            color: $black-color;
            @include gilroy-bold;
            font-size: $size-19-point-5-px;
            color: $black-color;
        }
    }

  

    &__input:checked + &__block::after {
        opacity: 1;
        display: block;
    }


}

#show-card-overlay.__js-active {
    z-index: 101;
}

.address-radio {

    &__input {
        display: none;
    }


    &__for-choosing {
        background-color: $head-bg-color;
        border: 1px solid $beige-color;
    }

    &__block {

        position: relative;
        min-height: min(12vw, 90px);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include white-blocks;
        padding-left: min(13.3vw, 102px);
        padding-top: min(2.92vw, 22px);
        transition: all .3s ease-in-out;
    }

    &__exact-address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $gap-10 $gap-10 $gap-10  $size-16and25;
        width: 100%;
        border-radius: $size-19-point-5-px;
        border: 1px solid $beige-color;
    }

    &__text {
        @include gilroy-semibold;
        font-size: $size-16and25;
        color: $brown-color;
    }

    &__for-choosing, &__choosed {
        
        justify-content: center;
        align-items: center;
        border-radius: $gap-10;
        width: min(28vw, 217px);
        height: min(8.3vw, 64px);
        @include gilroy-bold;
        font-size: $size-14px;
    }

    &__for-choosing {
        display: flex;
        color: $black-color;
        background-color: #F6E9DB;
    }

    
    &__choosed {
       display: none;
        background: $red-color;
        color: $white-bg-color;
    }

    &__input:checked + &__exact-address {
        // display: none;
        .address-radio__choosed {
            display: flex;
        }
        .address-radio__for-choosing {
            display: none;
        }

        .address-radio__text {
            @include gilroy-bold;
            color: $black-color;
        }

    }

    

    
    &__input:checked + &__for-choosing {
        display: none;
      
    }

    &__input:checked + &__choosed {
        opacity: 1;
        display: block;
    }



    
}

.cross-icon {
    width: $size-16and25;
    height: $size-16and25;
}

.red-bg {
    background-color: $red-color;
}

.easy-border {
    border-radius: $size-19-point-5-px;
    border: 1px solid $beige-color;
}


.counter {
    width: min(40vw, 307px);
    margin-bottom: $size-6and5;;
    border-radius: $size-8px;
    background-color: #FAC71D;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include gilroy-bold;
    font-size: $size-14px;

    &__btn {
        background-color: #FFFAF5;
        border-radius: $size-8px;
        width: $s28px;
        height: $s28px;

    }
}

.red-circle {
    display: block;
    width: 1vw;
    height: 1vw;
    background-color: $red-color;
    border-radius: 100%;
}

.green-circle {
    display: block;
    width: 1vw;
    height: 1vw;
    background-color: #5EA636;
    border-radius: 100%;
}



@import './components/save-btn';
@import './components/input-box';











    