@import 'libs/mixins';
@import 'libs/variables';
@import 'libs/fonts';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

li {
    list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}






.mobile-wrapper {
    position: relative;
    margin: auto;
    max-width: 768px; 
    width: 100%;
}

.main {
    min-height: 84vh;
    margin-bottom: $s70px;

    &_beige-bg {
        background-color: $head-bg-color;
    }

    &_sand-bg {
        background-color: #F5E6D6;
    }
}

.container-header {

    position: relative;
    margin: auto;
    padding: 0  min(2.6vw, 20px);
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0  min(3.33vw, 26px);
}

.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.object-fit-contain {
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-position: center;

}

.object-fit-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;

}

.input {
    border: none;

    
}


.button {
    border: none;
    background: none;
}

.hr {
    margin: auto;
    width: 96%;
    height: 2px;
    border: none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23F5E6D6FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.title {
    padding: min(3.8vw, 30px) $size-19-point-5-px;
    font-family: 'Gilroy';
    font-weight: bold;
    font-style: normal;
    font-size: $s24px;
    color: $black-color;
}

//стили для popup
.overlay {
    left: -500px;
    z-index: -100;
/* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}



/* стили модального окна */
.popup {
    display: flex;
    flex-direction: column;
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 11;
    margin: 0;
   
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    height: calc(100vh - 30vw);
    width: 100vw;
/* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    border: 1px solid #383838;
    background: #fefefe;
    transition: transform .4s ease-out;
    overflow-x: hidden;
    overflow-y: auto;

    &__total-header {
        background-color: $white-bg-color;
        border-bottom: 1px solid $beige-color;
    }

    &__title {
        margin-bottom: $size-12px;
        @include gilroy-bold;
        font-size: $size-20px;
        color: $black-color;
        padding: 1vw $size-19-point-5-px;
    }

    &_scanner {
        background-color: #161616;
    }

}

.overlay.__js-active {
    // display: block;
    z-index: 10;
    inset: 0;

    .popup {
        position: relative;
        transform: translate(-50%, 0);
        top: min(13vw, 102px);
        padding-bottom: min(6vw, 154px);
    }
}

#search-popup {
    background-color: $head-bg-color;

    

  
}

.popup-search {
    

    &__start-block {
        width: 100%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 

        &._visible {
            display: block;
        }
    }

    &__img {
        
        display: block;
        margin: auto;
        margin-bottom: $s40px;
        width: min(41vw, 317px);
        height: min(41vw, 317px);
    }

    &__start-text {
        padding: $size-16and25 $size-30px;
        @include gilroy-semibold;
        font-size: $size-18px;
        color: $brown-color;
    }

  
}

.return-btn {
    margin-right: $gap-10;
    padding: min(1.25vw, 10px) $size-13px;
    @include gilroy-bold;
    color: $brown-color;
    font-size: min(4vw, 31px);
    text-align: center;
    border-radius: $gap-10;
    border: 1px solid $beige-color;
    background-color: $head-bg-color;

    &::after {
        content: '';
        margin-left: $gap-10;
        display: block;
        width: $fz-13px;
        height: $fz-13px;
        background-image: url('../img/menu/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: rotate(180deg);
    }
}

//стилизация инпутов

.radio {

    &__input {
        display: none;
    }

    &__delete-address {
        display: none;   
        position: absolute;
        right: $size-19-point-5-px;
        top: $size-13px;
        transform: rotateZ(45deg);
        width: $size-19-point-5-px;
        height: $size-19-point-5-px;
        border: none;
        background: transparent;
    }

    &__block {
        position: relative;
        min-height: min(12vw, 90px);
        width: 100%;
        display: inline-block;
        @include white-blocks;
        padding-left: min(13.3vw, 102px);
        padding-top: min(2.92vw, 22px);
        transition: all .3s ease-in-out;

        &::before {
            content: '';
            position: absolute;
            top: min(3.3vw, 25px);
            left: min(4.2vw, 32px);
            display: block;
            width: $size-19-point-5-px;
            height: $size-19-point-5-px;
            transition: all .3s ease-in-out;
            background-image: url('../img/radio/beige-radio.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &::after { 
            content: '';
            position: absolute;
            top: min(3.3vw, 25px);
            left: min(4.2vw, 32px);
            display: none;
            width: $size-19-point-5-px;
            height: $size-19-point-5-px;
            background-image: url('../img/radio/red-radio.svg');
            background-repeat: no-repeat;
            background-size: contain;
            transition: all .3s ease-in-out;
        }
    }

    &__input:checked + &__block::before {
        display: none; 
    }

    &__input:checked + &__block {
        
        .radio__delete-address {
            display: block;
        }

        .address__city {
            color: $black-color;
            @include gilroy-bold;
            font-size: $size-19-point-5-px;
            color: $black-color;
        }
    }

  

    &__input:checked + &__block::after {
        opacity: 1;
        display: block;
    }


}

.__js-blur {
    filter: blur(3px);
}

#show-card-overlay.__js-active {
    z-index: 101;
}

.address-radio {

    &__input {
        display: none;
    }


    &__for-choosing {
        background-color: $head-bg-color;
        border: 1px solid $beige-color;
    }

    &__block {

        position: relative;
        min-height: min(12vw, 90px);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include white-blocks;
        padding-left: min(13.3vw, 102px);
        padding-top: min(2.92vw, 22px);
        transition: all .3s ease-in-out;
    }

    &__exact-address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $gap-10 $gap-10 $gap-10  $size-16and25;
        width: 100%;
        border-radius: $size-19-point-5-px;
        border: 1px solid $beige-color;
    }

    &__text {
        @include gilroy-semibold;
        font-size: $size-16and25;
        color: $brown-color;
    }

    &__for-choosing, &__choosed {
        
        justify-content: center;
        align-items: center;
        border-radius: $gap-10;
        width: min(28vw, 217px);
        height: min(8.3vw, 64px);
        @include gilroy-bold;
        font-size: $size-14px;
    }

    &__for-choosing {
        display: flex;
        color: $black-color;
        background-color: #F6E9DB;
    }

    
    &__choosed {
       display: none;
        background: $red-color;
        color: $white-bg-color;
    }

    &__input:checked + &__exact-address {
        // display: none;
        .address-radio__choosed {
            display: flex;
        }
        .address-radio__for-choosing {
            display: none;
        }

        .address-radio__text {
            @include gilroy-bold;
            color: $black-color;
        }

    }

    

    
    &__input:checked + &__for-choosing {
        display: none;
      
    }

    &__input:checked + &__choosed {
        opacity: 1;
        display: block;
    }



    
}

.cross-icon {
    width: $size-16and25;
    height: $size-16and25;
}


.round {
    display: block;
    border-radius: 100%;
    width: min(1vw, 8px);
    height: min(1vw, 8px);
}
.red-bg {
    background-color: $red-color;
    color: $white-bg-color;
}

.beige-bg {
    background-color: $head-bg-color;
    border: 1px solid $beige-color; 
}

.yellow-bg {
    background-color: #FFCC00;
}

.brown-bg {
    background: $beige-color;
    color: $brown-color;
}

.easy-border {
    border-radius: $size-19-point-5-px;
    border: 1px solid $beige-color;
}

.light-sand-bg {
    background-color: #FFFAF5;
}

.beige-border {
    border: 1px solid $beige-color;
}


.counter {
    margin-bottom: $size-6and5;
    gap: $size-5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFCC00;
    border-radius: $gap-10;

    .button {
        border-radius: $size-8px;
    }

    &__delete-btn {
        width: $size-32px;
        height: $size-32px;
       
        flex-shrink: 0;
        
        

    }

    &__delete-icon {
        display: block;
        margin: auto;
        width: $size-14px;
        width: $size-16and25;
    }

    &__add-remove {
        width: min(30vw, 233px);
        height: $size-32px;
        border-radius: $size-8px;
        background-color: #FAC71D;
        padding: min(0.6vw, 3.9vw);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include gilroy-bold;
        font-size: $size-14px;
    
       
    }

    &__btn {
        background-color: #FFFAF5;
        border-radius: $size-8px;
        width: $size-30px;
        // height: $s28px;
        height: 100%;
        @include gilroy-bold;
        color: $brown-color;

    }

    &__price {
        @include gilroy-bold;
        font-size: $size-12px;
        color: $black-color;
    }

  
}

.line-throw {
    text-decoration: line-through;
}

.red-circle {
    display: block;
    flex-shrink: 0;
    width: 1vw;
    height: 1vw;
    background-color: $red-color;
    border-radius: 100%;
}

.green-circle {
    display: block;
    width: 1vw;
    height: 1vw;
    background-color: #5EA636;
    border-radius: 100%;
}

.list-content, .list-header {
    position: relative;
    opacity: 1;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
._js-hidden {
    opacity: 0;
    
}

.arrow-icon {
    display: flex;
    width: min(3.3vw, 25px);
    height: min(3.3vw, 25px);


    &__img {
        transition: all 0.3s ease-in-out;
        transform: rotate(90deg);
    }
}

.list-header._active {
    .arrow-icon {
        &__img {
            transform: rotate(-90deg);
        }
    }
}

.cashback-label {
    display: block;
    position: absolute;
    bottom: 1vw;
    left: 50%;
    padding: 3px 3.5px;
    transform: translateX(-50%);
    border-radius: 6px;
    background-color: #FAC71D;
    color: $black-color;
    @include gilroy-bold;
    font-size: $size-8px;
    text-transform: uppercase;
    z-index: 1;
}

.red-text {
    color: $red-color;
}

.btn-change {
    padding: $gap-10 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: min(4.6vw, 38px);
    
    border-radius: min(3.3vw, 25px);
    border: 1px solid #F5E6D6;
    background-color: #FFFAF5;

    &::before {
        content: '';
        margin-right: 3px;
        display: block;
        width: $size-20px;
        height: $size-20px;
        background-image: url("../img/icons/change-btn.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        @include gilroy-bold;
        font-size: $size-14px;
    }
}


.btn-contain {
    margin-top: $gap-10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $gap-10 0;
    background-color: $red-color;
    border-radius: min(3.3vw, 25px);
    @include gilroy-bold;
    font-size: $size-14px;

  
    
}



.address-choice {
    margin-top: $size-16and25;
    &__input {
        input {
            display: none;

           
        }

        input:checked + .white-box{
            border: 1px solid $red-color;
        }

    }

   
}

._js-express-block {
    display: none;

 
}

._js-express-block._visible {
    display: block;
}

#accept-order-btn._disabled {
    color: $brown-color;
    background-color: $beige-color;
}

a._disabled {
    pointer-events: none;
}


.star-ratio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: $size-18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0;
    font-size: 1em;
  }

  //реализация блока оценка заказа
  .rating {
    // width: min(27.2px, 209px);
    width: 100%;
    height: $size-18px;
    position: relative;
    background: url('../img/icons/empty-star.svg');
    background-size: $size-18px $size-18px;
    background-repeat: repeat-x;
  }
  
  .star-ratio:nth-of-type(1) {
    width: $size-18px;
    z-index: 5;
  }
  
  .star-ratio:nth-of-type(2) {
    width: calc($size-18px * 2);
    z-index: 4;
  }
  
  .star-ratio:nth-of-type(3) {
    width: calc($size-18px * 3);
    z-index: 3;
  }
  
  .star-ratio:nth-of-type(4) {
    width: calc($size-18px * 4);
    z-index: 2;
  }
  
  .star-ratio:nth-of-type(5) {
    width:calc($size-18px * 5);
    z-index: 1;
  }
  
  .star-ratio:checked,
  .star-ratio:hover {
    background: url('../img/icons/star.svg');
    background-size: $size-18px $size-18px;
    background-repeat: repeat-x;
  }
  
  .star-ratio:hover~.star-ratio {
    background: url('../img/icons/empty-star.svg');
    background-size: $size-18px $size-18px;
    background-repeat: repeat-x;
  }

  .button {
    &__with-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3%;
    }

    &__icon {
        width: $size-14px;
        height: $size-14px;     
        img {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
  }

  .missed-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.6;
    z-index: 1;
  }




@import './components/save-btn';
@import './components/input-box';
@import './blocks/search-result/search-result';












    