.profile-data {
    &__input {
        padding: $size-13px $size-16and25 $size-14px $size-16and25;
        width: 100%;
        border-radius: $size-19-point-5-px;
        border: 1px solid $beige-color;
        background-color: $white-bg-color;
        @include gilroy-semibold;
        font-size: $size-13px;
        color: $brown-color;
    }
}