.header {
    width: 100%;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid $beige-color;
    background-color: $white-bg-color;
    z-index: 11;
    transition: all .3s ease;

    &__items {
        padding: min(2.6vw, 20px) 0;
    }

    &__main-logo {
        position: relative;
        width: min(41.6vw, 323px);
        transition: all .3s;
        height: min(8.33vw, 62px);

        .header__current-logo-img {
            display: none;
        }
    }

    
    &__main-logo-img {
        vertical-align: middle;
    } 


    &__main-logo {
        &::after {
            content: "";
            display: block;
            position: absolute;
            border-radius: 2vw;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            bottom: -7%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &_delivery, &_selfdelivery,  &_storefront {
        .header__base-logo-img {
            display: none;
        }
        .header__current-logo-img {
            display: inline;
        }
    } 

    &_delivery {
        &::after {
            width: min(19.48vw, 150px);
            height: min(3.1vw, 24px);
            background-image: url('../img/logotype/delivery.svg');
        }
    }

    &_selfdelivery {
        &::after { 
            width: min(21vw, 161px);
            height: min(3.1vw, 24px);
            background-image: url('../img/logotype/selfdelivery.svg'); 
        }
    }

    &_storefront {
        &::after { 
            width: min(15.4vw, 118px);
            height: min(3.1vw, 24px);
            background-image: url('../img/logotype/storefront.svg'); 
        }
    }



    &__search {
        padding: 0 min(2.5vw, 17px) 0 min(3vw, 20px);
        width: min(40vw, 308px);
        height: min(8.2vw, 62px);
        border: 1px solid $beige-color;
        border-top-left-radius: min(2vw, 15px);
        border-bottom-left-radius: min(2vw, 15px); 
        border-top-right-radius: min(6vw, 46px);
        border-bottom-right-radius: min(6vw, 46px);
    }

    &__input {
        width: min(28.2vw, 207px);
        font-family: 'Gilroy', Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: $fz-13px;
        color: $black-color;

        &::placeholder {
            color: #BE967D;
        }
    }

    &__search-btn {
        width: min(3.3vw, 25px);
        height: min(3.3vw, 25px);
    }

   
    

}

.header {
    &__menu-btn {
        display: block;
        width: min(8.2vw, 62px) !important;
        height: min(8.2vw, 62px) !important;
        border-radius: $gap-10;
        background-color: $red-color;
    }
}

.menu-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: min(1.1vw, 9px);

    &__line {
        background-color: $white-bg-color;
        border-radius: 1vw;
        height: min(0.5vw, 4px);
        transition: all .3s ease-in-out;

        &_1, &_3 {
            width: min(4.2vw, 32px);
        }

        &_2 {
            width: min(2.8vw, 21px);
        }
    }  
}

.menu-btn.__js_active {
    .menu-btn__line {
        position: absolute;

        &_1 {
            transform: rotate(45deg);
        }

        &_2 {
            opacity: 0;
        }

        &_3 {
            transform: rotate(-45deg);
        }
    }
}



.header.__js-fixed {
    position: fixed;
}

.__js-logo_none {
    opacity: 0;
    width: 0;
}

.__js-searchInput_active {
    width: min(73vw, 610px);
}

.__js-headerSearch_active {
    width: min(84vw, 644px);
}