.white-box-outer-wrapper {
    padding-top: $size-18px;
    // .white-box {
    // }
}

.white-box {
    margin-bottom: $gap-10;
    position: relative;
    padding: $size-12px;
    border-radius: $size-16and25;
    background-color: $white-bg-color;
    border: 1px solid $beige-color;
    @include gilroy-bold;
    color: $black-color;
    font-size: $size-14px;

  
    

    &_sand-bg {
        margin-top: $gap-10;
        margin-bottom: $gap-10;
        padding: 0;
        background-color: $head-bg-color;
    }

    &__header {
      

        h5 {
            margin-bottom: $size-5px;
            font-size: $size-20px;
        }
    }

    &__icon {
        position: absolute;
        width: $size-13px;
        height: $size-13px;
        top: $size-23px;
        right: $size-23px;
        transform: rotateZ(90deg);
    }

    &__icon.__js-opened {
        transform: rotateZ(-90deg);
    }

    &__label {
        width: 33%;
        height: 100%;
    }

    &__days {
        margin-bottom: $size-11px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: $size-18px;
        border-radius: $size-13px;
        border: 1px solid $beige-color;
        background-color: $head-bg-color;
        height: $size-32px;
    }

    &__input {
        display: none;
    }

    &__radio {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 33%;
        height: 100%;
        border-radius: $size-13px;
    }

    &__input:checked + &__radio {
        background-color: $red-color;
        color: $white-bg-color;
    }

    &__times {
        margin-bottom: $size-11px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    &__item {
        margin-bottom: $size-12px;
        width: 48%; 
        border-radius: $size-13px;
        border: 1px solid $beige-color;
        overflow: hidden;

        &_big {
            width: 100%;
        }
    }

    &__express {
        display: flex;
        // color: #FF6D00;
        color: $black-color;

        &::before {
            margin-right: $gap-10;
            content: '';
            display: block;
            width: $size-20px;
            height: $size-20px;
            background-image: url('../img/icons/zipper.svg');
            background-repeat: no-repeat;
            background-size: contain;

        }

        &::after {

            margin-left: $size-6and5;
            padding: 0 $size-19-point-5-px;
            content: '30 минут';
            display: flex;
            align-items: center;
            justify-content: center;
            @include gilroy-bold;
            font-size: $size-12px;
            color: $white-bg-color;
            border-radius: $gap-10;
            background: linear-gradient(90deg, #FF6B00, #FFCC00);
           
           

        }
    }

   
    

  
     
    &__time-radio {
        position: relative;
        padding-left: calc($s55px - 8px);
        padding-top: $size-8px;
        padding-bottom: $size-8px;
        width: 100%; 
        transition: all .3s ease-in-out;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: $size-8px;
            transform: translateY(-50%);
            display: block;
            width: $size-19-point-5-px;
            height: $size-19-point-5-px;
            transition: all .3s ease-in-out;
            background-image: url('../img/radio/beige-radio.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &::after { 
            content: '';
            position: absolute;
            top: 50%;
            left: $size-8px;
            transform: translateY(-50%);
            display: none;
            width: $size-19-point-5-px;
            height: $size-19-point-5-px;
            background-image: url('../img/radio/red-radio.svg');
            background-repeat: no-repeat;
            background-size: contain;
            transition: all .3s ease-in-out;
        }

        &_express::after {
            background-image: url('../img/radio/orange-radio.svg');
        }
    }

    &__input:checked + &__time-radio {
        background-color: $head-bg-color;

        .white-box__express {
            color: #FF6D00;
        }
    
    }

    &__input:checked + &__time-radio::before {
        display: none; 
        
    }

    &__input:checked + &__time-radio::after {
        opacity: 1;
        display: block;
    }
    
    &__disabled {
        opacity: 0.5;
        color: $brown-color;
    }

    &__note {
        position: relative;
        padding-left: $size-32px;
        @include gilroy-semibold;
        color: $brown-color;
        font-size: $size-13px;

      
        
    }

    &__note_agreement {
        padding-top: $size-12px;
        padding-left: $size-32px;
        padding-right: $size-12px;
        padding-bottom: $size-8px;
        @include gilroy-bold;
        font-size: $size-14px;
        border-bottom: 1px solid $beige-color;
    }

    &__note:before {
        content: '';
        position: absolute;
        top: $size-12px;
        left: $size-8px;
        // transform: translateY(-50%);
        display: block;
        width: $size-19-point-5-px;
        height: $size-19-point-5-px;
        background-image: url('../img/icons/note.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transition: all .3s ease-in-out;
    }

    &__note_top0:before {
       top: 0;
    }

    &__note_home::before {
        top: 1vw;
    }

    &__note-text {
        padding: $gap-10 $size-12px;
        @include gilroy-bold;
        font-size: $gap-10;
        color: $brown-color;
    }

    &__user-input {
        margin-bottom: $size-12px;
        width: 100%;
        padding: $size-14px $size-16and25;
        color: $black-color;
        border-radius: $gap-10;
        @include gilroy-semibold;
        
        &::placeholder {
            color: $brown-color;
        }

    }

    &__red-info-text {
        margin-bottom: $s55px;
        position: relative;
        padding-left: $size-16and25;
        display: flex;
        color: $red-color;
        font-size: $size-12px;
        @include gilroy-semibold;
        

        &::before {
            position: absolute;
            top: 50%;
            left: $size-8px;
            transform: translateY(-50%);
            content: '';
            display: block;
           
            width: 1.6vw;
            height: 1.6vw;
            background-image: url('../img/icons/red-star-symbol.svg');
            background-repeat: no-repeat;
            background-size: contain;
           
        }
    }

    &__red-star {
        position: relative;
        

        &::before {
            position: absolute;
            top: $size-8px;
            left: $size-8px;
            transform: translateY(-50%);
            content: '';
            display: block;
           
            width: 1.6vw;
            height: 1.6vw;
            background-image: url('../img/icons/red-star-symbol.svg');
            background-repeat: no-repeat;
            background-size: contain;
           z-index: 1;
        }
    }


    &__comment-textarea {
        width: 100%;
        height: 80vw;
        background-color: $head-bg-color;
        border-radius: $gap-10;
        padding: $gap-10 $size-13px;
        color: $black-color;
        @include gilroy-bold;
        font-size: $size-14px;

        &::placeholder {
            color: $brown-color;
        }
    }

}

._js-desabled {
    .white-box {
        &__header {
            color: $brown-color;
        }
        &__icon {
            opacity: 0;
        }
    }
}

#delivery-time._js-add-zipper-before {
    display: flex;
    align-items: center;
    color: #FF6D00;

    &::before {
        margin-right: 4px;
        content: '';
        display: block;
        width: $size-14px;
        height: $size-14px;
        background-image: url('../img/icons/zipper.svg');
        background-repeat: no-repeat;
        background-size: contain;

    }
}

#user-contacts-text {
    max-width: 100%;
    max-height: $size-20px;
    overflow: hidden;
}