.menu-panel {
    padding: min(3.2vw, 24px) 0 min(2.6vw, 20px);
    max-width: 768px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid $beige-color;
    background-color: #FEFEFE;
    z-index: 10;

   &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $size-19-point-5-px;
        height: $size-19-point-5-px;
        color: $white-bg-color;
        border-radius: 100%;
        font-family: 'Gilroy', Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: $fz-13px;
   }

    &__link {
        gap: min(2.5vw, 19px);
        flex-direction: column;
        font-family: 'Gilroy', Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-style: normal;
        color: $black-color;
    }

    &__icon-block {
        gap: min(0.83vw, 6.4px);
    }

    &__cart-total {
        background-color: $red-indicatior-color;
    }

    &__favorites-total {
        background-color: #BE957D;
    }

    &__icon {  
        width: $size-19-point-5-px;
        height: $size-19-point-5-px;
    }
  
}