.menu-panel {
    position: fixed;
    padding: min(1.6vw, 12px) 0 min(1.3vw, 10px);
    max-width: 768px;
    width: 100vw;
    border-top: 1px solid $beige-color;
    background-color: #FEFEFE;
    bottom: 0;
    z-index: 11;

    &__item {
        // width: 20%;
        padding: (1.6vw, 12px) 0 min(1.3vw, 10px);
        padding: 1% 2%;
        border-radius: min(3vw, 30px);
    }

    &_active {
        border: 1px solid $beige-color;
    }

   &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $size-19-point-5-px;
        height: $size-19-point-5-px;
        color: $white-bg-color;
        border-radius: 100%;
        font-family: 'Gilroy', Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: $fz-13px;
        line-height: 1;
    }



    &__link {
        gap: min(2.5vw, 19px);
        flex-direction: column;
        font-family: 'Gilroy', Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-style: normal;
        color: $black-color;
        font-size: $fz-13px;
    }

    &__icon-block {
        gap: min(0.83vw, 6.4px);
    }

    &__cart-total {
        background-color: $red-indicatior-color;
    }

    &__favorites-total {
        background-color: #BE957D;
    }

    &__icon {  
        width: $size-19-point-5-px;
        height: $size-19-point-5-px;
    }
  
}