.good-cards {
    background-color: $head-bg-color;
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 4%;
        
    }

    &__wrapper {
        margin-bottom: $size-12px;
        width: 48%;
        overflow: hidden;

        &_missed {
            .good__name, .good__weight, .good__price {
                color: $brown-color;
            }
        }

      
    }

    &__photo {
        position: relative;
        height: min(33vw, 256px);
        width: 100%;
        background-image: url('../img/cart/cart-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;

    }

    &__photo {
        .like {
            position: absolute;
            top: $gap-10;
            right: $gap-10;
            display: block;
            width: $size-12px;
            height: $size-12px;
            z-index: 1;

            &__yes {
                display: none;
            }
        }

        .like.liked {
            .like__no {
                display: none;
            
            }

            .like__yes {
                display: block;
            
            }


        }
    }

  
   

    &__info {
        background-color: $white-bg-color;
        padding: $size-6and5 $gap-10 $gap-10  $gap-10 ;
        &::after {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            content: ' ';
            position: absolute;
            bottom: $gap-10;
            display: none;  
            text-transform: uppercase;
            font-size: $gap-10;
            border: 1px solid $beige-color;
            border-radius: $gap-10;
            background-color: $head-bg-color;
            color: $beige-color;
            z-index: 10;
        }
    }



    &__quantity {
        
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;
        border-radius: $gap-10;
        // background-color: $head-bg-color;
        padding: 1vw 0;
        @include gilroy-bold;
        font-size: $gap-10;
        color: #5EA636;

        &::before {
            position: absolute;
            left: $size-8px;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            display: block;
            width: 1vw;
            height: 1vw;
            background-color: #5EA636;
            border-radius: 100%;
        }
    }

    &__quantity {
        &_miss {
            color: $red-color;

        &::before {
            position: absolute;
            left: $size-8px;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            display: block;
            width: 1vw;
            height: 1vw;
            background-color: $red-color;
            border-radius: 100%;
        } 
        }
    }

    &__quantity {
        &_miss-beige {
            color: $brown-color;

        &::before {
            position: absolute;
            left: $size-8px;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            display: block;
            width: 1vw;
            height: 1vw;
            background-color: $red-color;
            border-radius: 100%;
        } 
        }
    }

    &__watch {
        display: inline-block;
        width: $gap-10;
        height: $gap-10;
        background-image: url('../img/icons/green-watch.svg');
        background-size: contain;
        background-position: center;

        &_beige {
            background-image: url('../img/profile/watch.svg');
        }
    }



    &__btn {
        margin-bottom: $size-6and5;
        padding: $size-8px 0;
        width: 100%;

        @include gilroy-bold;
        font-size: $size-14px;
        color: $black-color;
        text-align: center;
        border-radius: $gap-10;

        &_yellow {
            background-color: #FAC71D;
        }

        &_beige {
            background-color: $beige-color;
            color: $brown-color;
        }
    }

    &__missed {
        .good__name, .good__weight, .good__price-box, .good__price  {
            color: $brown-color;
        }
    }
}