.main-card {
    margin-bottom: $size-14px;
    &__banner {
        margin-top: $size-13px;
        padding-top: $size-13px;
        border-radius: $size-19-point-5-px;
        color: $white-bg-color;
        background-image: url('../img/card/bird.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-position: 0 0;
    }

    &__header {
        padding-left: min(3.1vw, 24px);
        margin-bottom: min(8.4vw, 65px);
        @include gilroy-bold;
      
        font-size: min(5.5vw, 42px);
    }

    &__card-banner {
        height: min(41vw, 311px);
        margin-top: $size-13px;
        padding-top: $size-18px;
        padding-bottom: $size-14px;
        padding-left: $size-20px;
        padding-right: $size-20px;
        border-radius: $size-19-point-5-px;
       
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-position: 0 0;
    }

    &__login-banner {
        background-image: url('../img/card/card-login-bg.png');
    }

    &__phone-banner {
        background-image: url('../img/card/card-phone-bg.png');
    }

    &__header-black {
        width: 78%;
        // padding-left: min(3.1vw, 24px);
        margin-bottom: $s24px;
        @include gilroy-bold;
        font-size: $size-18px;
        color: $black-color;
    }

    &__login-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $size-8px;
        width: min(54vw, 417px);
        // padding: 0 $s55px;
        height: $s40px;
        background-color: #fff;
        border-radius: $size-12px;

    }

    &__btn-text {
       
       
        @include gilroy-bold;
        font-size: $size-14px;
        color: $black-color;

        // &::before {
        //     content: '';
        //     display: block;
        //     width: $size-14px;
        //     height: $size-14px;
        //     background-image: url("../img/icons/login.svg");
        //     background-repeat: no-repeat;
        //     background-size: contain;
        //     background-position: center;

        // }
    }

    &__btn-text-icon {
        position: relative;
        display: block;
        width: $size-14px;
        height: $size-14px;
       
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &__header-with-note-sign {
        display: flex;
        justify-content: start;
        gap: $size-14px;
        &::before {
            content: '';
            display: block;
            flex-shrink: 0;
            width: $s26px;
            height: $s26px;
            background-image: url('../img/icons/notification.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }   
    }

    &__welcome {
        margin-bottom: min(3.8vw, 30px);
        width: min-content;
        padding-left: min(3.1vw, 24px);
        @include gilroy-bold;
        font-size: $size-14px;
    }

    &__footer {
        padding: min(3.1vw, 24px);
        background-color: $red-color;
        border-radius: $gap-10; 
    }

    &__bonus-count {
        padding-left: min(2.6vw, 20px);
        width: min(28.3vw, 217px);
        @include gilroy-semibold;
        text-align: left;
        font-size: min(5.33vw, 50px);
        line-height:  min(8.7vw, 67px);

        &.__js-blur {
            filter: blur(3px);
        }
    }

    &__box {
        display: flex;
        gap: min(1.54vw, 12px);
    }

    &__bonus-count, &__to-hide, &__scanner-img, &__magnifier {
        border-radius: $gap-10; 
        border: 1px solid #E8827A;
        background-color: #E14F4B;
        height: min(8.7vw, 67px);

    } 

    &__bonus-count,  &__scanner-img  {
        width: min(32vw, 246px);
    }

    

    &__scanner-img {
        background-color: #fff;
        padding: min(0.76vw, 6px);
    }


    &__to-hide, &__magnifier {
        padding: 0 2.1vw;
        width: min(8.7vw, 67px);
    }

    

  

}

#show-card-overlay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-card {
    display: block;
    margin: auto;
    border-radius: $size-16and25;
    border: 2px solid $white-bg-color;
    overflow: hidden;

    &__box {
    
        color: $white-bg-color;
        background-image: url('../img/card/bird.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-position: 0 0;
    }
    &__scaner {
        width: 100%;
        padding: $size-13px;
        background-color: $red-color;
    }

    &__scaner-img {
        padding: $gap-10;
        border-radius: $gap-10;
        background-color: $white-bg-color;
    }

    .main-card {
        margin-bottom: 0;
    }

    
}