.main-card {
    margin-bottom: $size-14px;
    &__banner,   &__blocked {
        margin-top: $size-13px;
        padding-top: $size-13px;
        border-radius: $size-19-point-5-px;
        color: $white-bg-color;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-position: 0 0;
        overflow: hidden;
    }
    
    &__banner {
        background-image: url('../img/card/bird.png');
    }

    &__blocked {
        background-image: url('../img/card/card-blocked-bg.png');
        
    }

    &__header {
        padding-left: min(3.1vw, 24px);
        margin-bottom: min(8.4vw, 65px);
        @include gilroy-bold;
      
        font-size: min(5.5vw, 42px);

        &_history {
            margin-bottom: $size-8px;
        }
    }

    &__history-card-num {
        padding-left: $gap-10;
        margin-bottom: $size-6and5;
        color: #FFFAF5;
    }

    &__number {
        display: inline-block;
        padding-right: $size-8px;
        @include gilroy-bold;
        font-size: $size-14px;
        line-height: 100%;
    }

    &__label {

        @include gilroy-bold;
        font-size: $gap-10;
        padding: 0 $gap-10;
        border: 1px solid #FFFAF5;
        border-radius: $size-6and5;
        padding-bottom: 0.4%;
        line-height: 50%;
    }

    &__label-blocked {
        display: inline-block;
        margin-left: $gap-10;
        margin-bottom: min(6.7vw, 50px);
        @include gilroy-bold;
        font-size: $gap-10;
        padding: 1% $gap-10;
        padding-bottom: 1.2%;
        background-color: #FFFAF5;
        color: $brown-color;
        border-radius: $size-6and5;
        line-height: 50%;
    }

    &__card-banner {
        height: min(41vw, 311px);
        margin-top: $size-13px;
        padding-top: $size-18px;
        padding-bottom: $size-14px;
        padding-left: $size-20px;
        padding-right: $size-20px;
        border-radius: $size-19-point-5-px;
       
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-position: 0 0;
    }

    &__login-banner {
        padding-top: $size-18px;
        margin-top: $size-13px;
        border-radius: $size-19-point-5-px;
       
        height: min(41vw, 311px);
        background-color: $beige-color;
        // background-image: url('../img/card/card-login-bg.png');
    }

    &__login-footer {
        padding: min(3.1vw, 24px);
        background-color: #E1C4AA;
        border-radius: $size-20px; 
    }

    &__phone-banner {
        background-image: url('../img/card/card-phone-bg.png');
    }

    &__header-black {
        width: 78%;
        // padding-left: min(3.1vw, 24px);
        margin-bottom: $s24px;
        @include gilroy-bold;
        font-size: $size-18px;
        color: $black-color;
    }

    &__header-brown {
        
        width: 100%;
        padding: 0 8%;
        // padding-left: min(3.1vw, 24px);
        margin-bottom: $s24px;
        @include gilroy-bold;
        font-size: $size-18px;
        color: $brown-color;
        text-align: center;
    }

    &__login-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $size-8px;
        width: min(54vw, 417px);
        // padding: 0 $s55px;
        height: $s40px;
        background-color: #fff;
        border-radius: $size-12px;

    }

    &__btn-text {

        @include gilroy-bold;
        font-size: $size-14px;
        color: $black-color;

    }

    &__btn-text-icon {
        position: relative;
        display: block;
        width: $size-14px;
        height: $size-14px;
       
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &__header-with-note-sign {
        display: flex;
        justify-content: start;
        gap: $size-14px;
        &::before {
            content: '';
            display: block;
            flex-shrink: 0;
            width: $s26px;
            height: $s26px;
            background-image: url('../img/icons/notification.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }   
    }

    &__welcome {
        margin-bottom: min(3.8vw, 30px);
        width: min-content;
        padding-left: min(3.1vw, 24px);
        @include gilroy-bold;
        font-size: $size-14px;

        &_blocked {
            width: auto;
            margin-bottom: min(3.8vw, 27px);
        }
    }

    &__footer {
        padding: min(3.1vw, 24px);
        background-color: $red-color;
        border-radius: $size-19-point-5-px;
    }

    &__footer_blocked {
        width: 100%;
        padding: min(3.1vw, 24px);
        background-color: $beige-color;
        border-radius: $size-19-point-5-px;
    }

    &__bonus-count {
        padding-left: min(2.6vw, 20px);
        width: min(28.3vw, 217px);
        @include gilroy-semibold;
        text-align: left;
        font-size: min(5.33vw, 50px);
        line-height:  min(8.7vw, 67px);

    }

    &__bonus-count_blocked {
        padding-left: min(2.6vw, 20px);
        width: min(28.3vw, 217px);
        @include gilroy-semibold;
        text-align: left;
        font-size: min(5.33vw, 50px);
        line-height:  min(8.7vw, 67px);
        color: $white-bg-color;
        border: 1px solid $white-bg-color;
        border-radius: $gap-10;
    }

    &__login-bonus {
        width: min(32vw, 246px);
        height: min(8.7vw, 67px);
        @include gilroy-semibold;
        text-align: left;
        font-size: $size-14px;
        line-height:  min(8.7vw, 67px);
        color: #F5E6D6;
        border: 1px solid #F5E6D6;
        border-radius: $gap-10;
        text-align: center;
    }

    &__box {
        display: flex;
        gap: min(1.54vw, 12px);
    }

    &__bonus-count, &__to-hide, &__scanner-img, &__magnifier {
        border-radius: $gap-10; 
        border: 1px solid #E8827A;
        background-color: #E14F4B;
        height: min(8.7vw, 67px);

    } 

  &__to-hide_blocked, &__scanner-img_blocked, &__magnifier_blocked {
        border-radius: $gap-10; 
        border: 1px solid $white-bg-color;
        height: min(8.7vw, 67px);
        

    }
    &__bonus-count_blocked, &__scanner-img_blocked {
        width: min(32vw, 246px);
    }

    &__scanner-img_blocked {
        padding: 1%;
        background-color: #fff;
    }
   
    &__scanner-img_blocked {
        overflow: hidden;
    }

    &__to-hide_blocked, &__magnifier_blocked {
        padding: 0 2.1vw;
        width: min(8.7vw, 67px);
    }



    &__bonus-count,  &__scanner-img  {
        width: min(32vw, 246px);
    }

    

    &__scanner-img {
        background-color: #fff;
        padding: min(0.76vw, 6px);
    }

    &__scanner-img-login {
        background-color: #F5E6D6;
        padding: min(0.76vw, 6px);
        border: 1px solid #F5E6D6;
        border-radius: $gap-10;
        width: min(32vw, 246px);
        height: min(8.7vw, 67px);
    }


    &__to-hide, &__magnifier {
        padding: 0 2.1vw;
        width: min(8.7vw, 67px);
    }

    &__to-hide-login, &__magnifier-login{
        padding: 0 1.8vw;
        width: min(8.7vw, 67px);
        border: 1px solid #F5E6D6;
        border-radius: $gap-10;
        height: min(8.7vw, 67px);
    }

    

    

  

}

#show-card-overlay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-card {
    display: block;
    margin: auto;
    border-radius: $size-16and25;
    border: 2px solid $white-bg-color;
    overflow: hidden;

    &__box {
    
        color: $white-bg-color;
        background-image: url('../img/card/bird.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-position: 0 0;
    }
    &__scaner {
        width: 100%;
        padding: $size-13px;
        background-color: $red-color;
    }

    &__scaner-img {
        padding: $gap-10;
        border-radius: $gap-10;
        background-color: $white-bg-color;
    }

    .main-card {
        margin-bottom: 0;
    }

    
}